anyjson==0.3.3
asgiref==3.2.10
Django==3.1
django-appconf==1.0.4
django-filter==2.3.0
django-imagekit==4.0.2
django-utils2==2.8.0
djangorestframework==3.11.1
drf-writable-nested==0.6.1
importlib-metadata==1.7.0
Markdown==3.2.2
pilkit==2.0
Pillow==7.2.0
python-utils==2.4.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
zipp==3.1.0
